permitted-roles.json
[
    {
        "id": "0f27fcacb8bc814f",
        "type": "comment",
        "z": "d098d3d921f5b026",
        "name": "permitted roles",
        "info": "",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "162019fddaac595a",
        "type": "inject",
        "z": "d098d3d921f5b026",
        "name": "at Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 770,
        "y": 680,
        "wires": [
            [
                "731b06fc19b7c2b5"
            ]
        ]
    },
    {
        "id": "731b06fc19b7c2b5",
        "type": "component",
        "z": "d098d3d921f5b026",
        "name": "load or create permittedRoles",
        "targetComponent": {
            "id": "39a570057d637fc1",
            "name": "load or create permittedRoles",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 990,
        "y": 680,
        "wires": [
            [
                "3c58b05d77b8b7db"
            ]
        ]
    },
    {
        "id": "3c58b05d77b8b7db",
        "type": "debug",
        "z": "d098d3d921f5b026",
        "name": "Status",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'permitted roles loaded'",
        "statusType": "jsonata",
        "x": 1190,
        "y": 680,
        "wires": []
    },
    {
        "id": "0169892b42b5c57d",
        "type": "file in",
        "z": "d098d3d921f5b026",
        "name": "",
        "filename": "./permittedRoles.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 820,
        "y": 800,
        "wires": [
            [
                "4090301cb0fc1d55"
            ]
        ]
    },
    {
        "id": "c4466b4d049ef738",
        "type": "catch",
        "z": "d098d3d921f5b026",
        "name": "",
        "scope": [
            "0169892b42b5c57d"
        ],
        "uncaught": false,
        "x": 770,
        "y": 860,
        "wires": [
            [
                "bfac6766b18760ef"
            ]
        ]
    },
    {
        "id": "4dc5fdc8dd6cf8a9",
        "type": "debug",
        "z": "d098d3d921f5b026",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'could not load permitted roles'",
        "statusType": "jsonata",
        "x": 1170,
        "y": 860,
        "wires": []
    },
    {
        "id": "39a570057d637fc1",
        "type": "component_in",
        "z": "d098d3d921f5b026",
        "name": "load or create permittedRoles",
        "api": [],
        "x": 800,
        "y": 740,
        "wires": [
            [
                "0169892b42b5c57d",
                "b44e3a143f3c9091"
            ]
        ]
    },
    {
        "id": "9e66710bdf1211c3",
        "type": "component_out",
        "z": "d098d3d921f5b026",
        "name": "return",
        "mode": "default",
        "x": 1190,
        "y": 740,
        "wires": []
    },
    {
        "id": "bfac6766b18760ef",
        "type": "function",
        "z": "d098d3d921f5b026",
        "name": "create in global context",
        "func": "  let RoleSet = Object.create(null)\n    RoleSet['node-red'] = true\n  global.set('permittedRoles',RoleSet)\n\n  return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 860,
        "wires": [
            [
                "4dc5fdc8dd6cf8a9",
                "9e66710bdf1211c3"
            ]
        ]
    },
    {
        "id": "751911d34a03fa67",
        "type": "file",
        "z": "d098d3d921f5b026",
        "name": "",
        "filename": "./permittedRoles.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1080,
        "y": 980,
        "wires": [
            [
                "488326230fdbe750"
            ]
        ]
    },
    {
        "id": "9a0a80d6f9cb6f83",
        "type": "catch",
        "z": "d098d3d921f5b026",
        "name": "",
        "scope": [
            "751911d34a03fa67"
        ],
        "uncaught": false,
        "x": 770,
        "y": 1100,
        "wires": [
            [
                "84e7f013c3d0f664",
                "4930ab704dfa9176"
            ]
        ]
    },
    {
        "id": "84e7f013c3d0f664",
        "type": "debug",
        "z": "d098d3d921f5b026",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'could not write permitted users'",
        "statusType": "jsonata",
        "x": 910,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4731c8046b951d19",
        "type": "component_in",
        "z": "d098d3d921f5b026",
        "name": "write permittedRoles",
        "api": [],
        "x": 770,
        "y": 920,
        "wires": [
            [
                "0fa04ef27ab29f44",
                "3d492ff2f337822f"
            ]
        ]
    },
    {
        "id": "1923bf0197e34498",
        "type": "component_out",
        "z": "d098d3d921f5b026",
        "name": "return",
        "mode": "default",
        "x": 1190,
        "y": 1040,
        "wires": []
    },
    {
        "id": "488326230fdbe750",
        "type": "change",
        "z": "d098d3d921f5b026",
        "name": "restore payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "_payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "_payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1040,
        "wires": [
            [
                "1923bf0197e34498"
            ]
        ]
    },
    {
        "id": "4930ab704dfa9176",
        "type": "change",
        "z": "d098d3d921f5b026",
        "name": "report in payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'Internal Server Error'",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "_payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1100,
        "wires": [
            [
                "1923bf0197e34498"
            ]
        ]
    },
    {
        "id": "4090301cb0fc1d55",
        "type": "function",
        "z": "d098d3d921f5b026",
        "name": "write to global context",
        "func": "  let RoleList = msg.payload.trim().replace(/\\s+/g,' ').split(' ')\n\n  let RoleSet = Object.create(null)\n  for (let i = 0, l = RoleList.length; i < l; i++) {\n    let Role = RoleList[i].toLowerCase()\n    RoleSet[Role] = true\n  }\n  global.set('permittedRoles',RoleSet)\n\n  msg.payload = ''\n  return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "9e66710bdf1211c3"
            ]
        ]
    },
    {
        "id": "0fa04ef27ab29f44",
        "type": "function",
        "z": "d098d3d921f5b026",
        "name": "read from global context",
        "func": "  let RoleSet = global.get('permittedRoles')\n\n  let RoleList = []\n  for (Role in RoleSet) {\n    RoleList.push(Role)\n  }\n  msg.payload = RoleList.join('\\n')\n  return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 980,
        "wires": [
            [
                "751911d34a03fa67"
            ]
        ]
    },
    {
        "id": "b44e3a143f3c9091",
        "type": "function",
        "z": "d098d3d921f5b026",
        "name": "-> catch",
        "func": "// do not pass any msg from here!",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 740,
        "wires": [
            [
                "bfac6766b18760ef"
            ]
        ]
    },
    {
        "id": "3d492ff2f337822f",
        "type": "function",
        "z": "d098d3d921f5b026",
        "name": "-> catch",
        "func": "// do not pass any msg from here!",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 920,
        "wires": [
            [
                "4930ab704dfa9176"
            ]
        ]
    }
]